{% extends "base.html" %}

{% block content %}
<style>
.archive_date {
  width: 60px;
  display: inline-block;
}
</style>
  {% if title %}
  <article>
    <h1 class="article_title" style="margin-bottom: -5px;">{{ title }}</h1>
    {% endif %}
    {% for year, articles in article_groups %}
      <h2>{{ year }}</h2>
      <ul>
        {% for article in articles %}
        <li><div class="archive_date">{{ article.date.strftime('%b %-d') }}</div> <a href="/{{ article.url }}">{{ article.title|safe }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </article>
{% endblock %}
