<article>

{% if article.title %}<h1>{{ article.title }}</h1>{% endif %}

{% if article.type == 'post' %}
<div class="article_meta">
  {{ article.date|locale_date }}
</div>
{% endif %}

{% if article.tags|length > 0 %}
<span id="article_tags">Tagged with:

  {#
    Fill in a comma-separated list of tags, ensuring that the last
    tag isn't followed by a comma.
  #}
  {% for tag in article.tags|sort %}
    {{ tag }}{% if loop.index != article.tags|count %}, {% endif %}
  {% endfor %}</span>
{% endif %}

{{ article.content|safe }}

</article>
