<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>

  {#
    This HTML comment will be expanded to include the CSS declaration
    and/or a link to a CSS file as appropriate.
  #}
  <!-- hc_css_include -->

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if site.author %}
    <meta name="author" content="{{ site.author }}" />
  {% endif %}
  {% if site.description %}
    <meta name="description" content="{{ site.description }}" />
  {% endif %}

  {% include "base_head.html" %}

  <title>{% if title %}{{ title|striptags }} &mdash; {% endif %}{{ site.name }}</title>
</head>

<body>
  <aside>
    <div id="aside_inner">
      {% include "base_header.html" %}
    </div>
  </aside>

  <main>
    <div id="main_inner">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer>
    <div id="footer_inner">
      {% include "base_footer.html" %}
    </div>
  </footer>
</body>

</html>
