article {
  line-height: $line-height;
  padding-top:    3px;
  padding-bottom: 15px;

  h1 {
    color: $primary-color;
    font-size: $big-font-size;
  }
}

.article_title {
  text-decoration: none;
}

.article_meta {
  margin-top: -10px;
  &, a {
    color: $accent-grey;
  }
  font-size: $meta-font-size;
}
