article {
  line-height: $line-height;
  padding-top:    3px;
  padding-bottom: 15px;
}

.article_title {
  &:not(.linkpost_title) {
    font-size: 1.5em;
    line-height: 1.45em;
    a {
      text-decoration: none;
    }
  }
  &.linkpost_title {
    padding-top: 12px;
    &::after {
      content: " →";
      color: $accent-grey;
    }
  }
  a:visited {
    color: $primary-color;
  }
  margin-bottom: -10px;
}

.article_meta {
  margin-top: -10px;
  &, a {
    color: $accent-grey;
  }
  font-size: $meta-font-size;
  .article_permalink a {
    &, &:visited {
      color: $primary-color;
    }
    text-decoration: none;
  }
}
