// https://en.wikipedia.org/wiki/Chocolate_(color)
$primary-color: #7B3F00 !default;
$main-font-family: serif !default;

$accent-grey:     #999;
$light-grey:      #eee;

$max-width:       750px !default;
$line-height:     1.25em !default;
$meta-font-size:  0.85em !default;
$big-font-size:   2em !default;

#aside_inner, #footer_inner, article {
  max-width: $max-width;
  margin-left:  auto;
  margin-right: auto;
  padding: 1px 20px;
}

@import "aside.scss";
@import "footer.scss";

@import "article.scss";


a {
  color: $primary-color;
  &:hover {
    text-decoration: none;
  }
}

h1, h2 {
  color: $primary-color;
}

h2 {
  line-height: $line-height;
}

body {
  font: 13pt $main-font-family;
}

hr {
  background-color: $light-grey;
  height: 1px;
  border: 0px;
}
